.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px; width: 290px;
    padding: 0 !important;
}
a{
    text-decoration: none !important;

}
.container{
    margin-top: 2.2rem;
}