.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px; width: 290px;
    padding: 0 !important;
}
a{
    text-decoration: none !important;

}
.container{
    margin-top: 2.2rem;
}
.twPc-bg {
    background-image: url("../img/photo-1553095066-5014bc7b7f2d.jfif");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}